<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <link rel="icon" href="favicon.ico">
    
        <title>almacenamiento MASIVO</title>
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        {% load static %}
    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <!-- Links -->
                <a class="navbar-brand" href="{% url 'index' %}">MASIVO</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listings_per_city' %}">Listings per city</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'availability_per_month' %}">Availability per month</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'room_type_per_city' %}">Room Types per city</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'minimum_nights_per_city' %}">Minimum Nights per city</a>
                    </li>      
                </ul>
            </nav>
        {% endblock %}

        <div>
            {% block body %}
            {% endblock %}
        </div>

    </body>

    {% block static_files %}{% endblock %}
</html>