{% include "base/includes/base.html" %}

{% block body %}
    <div>
        aloooo teaaaam
        <canvas id="chart"></canvas>
    </div>


    {% block static_files %}
    <script>
        const DATA_COUNT = 5;
        const NUMBER_CFG = {count: DATA_COUNT, min:0, max: 50};
        labels = ['santiago','buenos aires','bogota'];
        const data = {
            labels:labels,
            datasets: [{
                label: 'Dataset',
                data: [25, 30, 46],
                backgroundColor: [
                    "red",
                    "blue",
                    "yellow",
                    "purple"
                ]
            }]
        }
        const config = {
            type: 'polarArea',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Polar Area Chart'
                    }
                }
            },
        };

        

        var polarCart = new Chart(
            document.getElementById('chart'),
            config
        );
    </script>
    {% endblock %}
{% endblock %}