{% include "base/includes/base.html" %}

{% block body %}
    <div class="row1">
        <div class="col-lg-5">
            <canvas id="chart"></canvas>
        </div>
    </div>

    <p hidden id="data">{{ json }}</p>

    {% block static_files %}
    <script>
        var border_colors = [
            'rgb(200, 80, 150)',
            'rgb(0, 100, 150)',
            'rgb(255, 100, 0)',
            'rgb(200, 255, 0)',
            'rgb(100, 100, 150)',
            'rgb(100, 80, 255)'
        ];

        var json_data = JSON.parse(document.getElementById("data").textContent);
        const DATA_COUNT = 5;
        const NUMBER_CFG = {count: DATA_COUNT, min:0, max: 50};

        var cities= [];
        var dataList = [];

        json_data.forEach(element => {
            cities.push(element.city.toUpperCase());
            dataList.push(element.data);
        });

        const data = {
            labels:cities,
            datasets: [{
                label: 'Dataset',
                data: dataList,
                backgroundColor: border_colors,
            }]
        }
        const config = {
            type: 'polarArea',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Listings per city'
                    }
                }
            },
        };

        

        var polarCart = new Chart(
            document.getElementById('chart'),
            config
        );
    </script>
    {% endblock %}
{% endblock %}