{% include "base/includes/base.html" %}

{% block body %}
<div class="row1">
    <div class="col-lg-5">
        <canvas id="chart"></canvas>
    </div>
</div>

<p hidden id="data">{{ json }}</p>

    {% block static_files %}
    <script>
        var json_data = JSON.parse(document.getElementById("data").textContent);
        
        var datasets = [];
        var border_colors = [
            'rgb(200, 80, 150)',
            'rgb(0, 100, 150)',
            'rgb(255, 100, 0)',
            'rgb(200, 220, 50)',
            'rgb(100, 50, 100)',
            'rgb(100, 80, 255)',
            'rgb(200, 50, 100)',
            'rgb(50, 200, 100)',
            'rgb(0, 200, 255)',
            'rgb(0, 230 , 200)',
            'rgb(255, 180, 100)',
        ];
        var background_colors = [
            'rgba(200, 80, 150 0.2)',
            'rgba(0, 100, 150, 0.2)',
            'rgba(255, 100, 0, 0.2)',
            'rgba(200, 255, 0, 0.2)',
            'rgba(100, 100, 150, 0.2)',
            'rgba(100, 80, 255, 0.2)'
        ];

        var labels = [];
        var datasets = [];
        var dataOfdatasets= [];

        json_data.forEach(element => {
            labels.push(element.city);
            dataOfdatasets.push(element.data);
        });

        datasets.push({
            label: 'Occupancy rate',
            data: dataOfdatasets,
            borderColor : 'rgb(0, 230 , 200)',
            backgroundColor: 'rgba(255, 100, 0, 0.2)'
        });
        
        const data = {
            labels: labels,
            datasets: datasets
        };

        const config = {
            type: 'radar',
            data: data,
            options: {
                responsive: true,
                plugins: {
                title: {
                    display: true,
                    text: 'Occupancy Rate per city (percentage)',
                    font: {
                            size: 25
                        }
                }
                }
            },
            };

        var roomChart = new Chart(
            document.getElementById('chart'),
            config
        );

    </script>
    {% endblock %}
{% endblock %}