{% include "base/includes/base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class=""></div>
        <div class="col-lg-8">
            <canvas id="chart"></canvas>
        </div>
    </div>
</div>

<p hidden id="data">{{ json }}</p>

    {% block static_files %}
    <script>
        var json_data = JSON.parse(document.getElementById("data").textContent);
        var droped_data = [];
        var droped_label = [];
        
        var datasets = [];
        var border_colors = [
            'rgb(200, 80, 150)',
            'rgb(0, 100, 150)',
            'rgb(255, 100, 0)',
            'rgb(200, 220, 50)',
            'rgb(100, 50, 100)',
            'rgb(100, 80, 255)',
            'rgb(200, 50, 100)',
            'rgb(50, 200, 100)',
            'rgb(0, 200, 255)',
            'rgb(0, 230 , 200)',
            'rgb(255, 180, 100)',
        ];
        var background_colors = [
            'rgba(200, 80, 150 0.2)',
            'rgba(0, 100, 150, 0.2)',
            'rgba(255, 100, 0, 0.2)',
            'rgba(200, 255, 0, 0.2)',
            'rgba(100, 100, 150, 0.2)',
            'rgba(100, 80, 255, 0.2)'
        ];

        var labels = [];
        var datasets = [];
        var dataOfdatasets= [];

        json_data.forEach(element => {
            labels.push(element.city);
            dataOfdatasets.push(element.data);
        });

        datasets.push({
            label: 'Occupancy rate',
            data: dataOfdatasets,
            borderColor : 'rgb(0, 230 , 200)',
            backgroundColor: 'rgba(255, 100, 0, 0.2)'
        });
        
        const data = {
            labels: labels,
            datasets: datasets
        };

        const config = {
            type: 'radar',
            data: data,
            options: {
                responsive: true,
                plugins: {
                title: {
                    display: true,
                    text: 'Occupancy Rate per city (percentage)',
                    font: {
                            size: 25
                        }
                }
                }
            },
            };

        var roomChart = new Chart(
            document.getElementById('chart'),
            config
        );

    </script>
    {% endblock %}

    <div class="col-sm-3">
        <form>
            <div class="form-group">
                <label >Remove a City:</label>
                <select class="form-control" name="cities" id="cities">
                    <script>
                        var options = "";
                        labels.forEach(label =>{
                            options += "<option id="+'"'+label+'"'+" value="+'"'+label+'"'+">"+label+"</option>";
                        });
                        document.getElementById("cities").innerHTML=options;
                    </script>
                </select>
                <br>
                <button class="btn btn-secondary" type="button" value="Remove" onclick=RemoveData()>Remove city</button>
            </div>
        </form>
        <form>
            <div class="form-group">
                <label>Add a City:</label>
                <select class="from-control" name="addcities" id="addcities">
                </select>
                <br>
                <button class="btn btn-secondary" type="button" value="Add" onclick=AddData()>Add city</button>
            </div>
        </form>
    </div>
    
    <script>
        function RemoveData(){
                var chart = roomChart
                var removeLabel = document.getElementById("cities").value;          
                var removeindex = chart.data.labels.indexOf(removeLabel);
                var label_pop = chart.data.labels.splice(removeindex,1)
                droped_label.push(label_pop[0]); // remove the label first       
                chart.data.datasets.forEach(dataset => {
                    var poped = (dataset.data.splice(removeindex, 1))
                    droped_data.push(poped[0])
                    console.log(dataset.data)
                });
    
                    chart.update();
                    var selectobject = document.getElementById("cities")
                    for (var i=0; i<selectobject.length; i++) {
                        if (selectobject.options[i].value == removeLabel){
                                var setoption = selectobject.options[i]
                                selectobject.options.remove(i);
                                document.getElementById("addcities").options.add(setoption);}
    
                    }
            
            };
        function AddData(){
                var chart = roomChart
                var addLabel = document.getElementById("addcities").value;
                var addindex = droped_label.indexOf(addLabel);
                chart.data.labels.push(addLabel);
                droped_label.splice(addindex, 1);
                chart.data.datasets.forEach(dataset =>{
                    dataset.data.push(droped_data[addindex]);
                    droped_data.splice(addindex, 1);
                });
                chart.update();
                var selectobject = document.getElementById("addcities")
                for (var i=0; i<selectobject.length; i++) {
                    if (selectobject.options[i].value == addLabel){
                            var setoption = selectobject.options[i]
                            selectobject.options.remove(i);
                            document.getElementById("cities").options.add(setoption);}

                }
        }    
    </script>    
{% endblock %}