{% include "base/includes/base.html" %}

{% block body %}
    <div>
        <canvas id="chart"></canvas>
    </div>


    {% block static_files %}
    <script>
        const DATA_COUNT = 5;
        const NUMBER_CFG = {count: DATA_COUNT, min: 0, max: 100};

        const data = {
        labels: ['Red', 'Orange', 'Yellow', 'Green', 'Blue'],
            datasets: [
            {
            label: 'Dataset 1',
            data: [60, 80, 30, 20, 70],
            backgroundColor: ["red","orange","yellow","green","blue"],
            }] 
        };

        const config = {
            type: 'pie',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                    position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Pie Chart'
                    }
                }
            },
        };

        var roomChart = new Chart(
            document.getElementById('chart'),
            config
        );

    </script>
    {% endblock %}
{% endblock %}